# Freepascal
*.lps
*.compiled
*.[oa]
*.ppu
*.rst
*.cgi
*.exe
*.log
*.bak*
fp.ini
fp.cfg
fp.dsk
*.tmp

# Lazarus backup
**/backup/

# fmd
*.lps
*.res
mangadownloader/lib
updater/lib
updaterslim/lib
bin/
Release/

# compiled languages files
*.mo

# lazarus auto generated resources
*.lrt
