# Freepascal
*.lps
*.compiled
*.[oa]
*.ppu
*.rst
*.cgi
*.exe
*.log
*.bak*
fp.ini
fp.cfg
fp.dsk
*.tmp

# Lazarus backup
**/backup/

# fmd
mangadownloader/lib
mangadownloader/md.lps
mangadownloader/md.res
updater/lib
updater/updater.lps
updater/updater.res
bin/
Release/
